In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import random

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import yfinance as yf
import requests

In [3]:
df = pd.read_csv("https://query.data.world/s/pzd7uazpmpyortmg6fsuxiaoizllgu?dws=00000", encoding='ISO-8859-1')
display(df.head())

,Public Company Name (As Listed on Exchange),B Corp Impact Data ID,Ticker 1,Ticker 2,Ticker 3,IPO Year,Year Delisted,Year Certified,Public Listing Status,Year Decertified
0,"Allbirds, Inc.",001C000001SGhnyIAD,NASDAQGS:BIRD,NaN,NaN,2021.0,NaN,2016.0,active,NaN
1,Amalgamated Financial,001C000001K16JSIAZ,NASDAQGM:AMAL,NaN,NaN,2018.0,NaN,2017.0,active,NaN
2,"AppHarvest, Inc.",0013b00001o41JFAAY,NASDAQGS:APPH,NaN,NaN,2020.0,NaN,2019.0,delisted,2023.0
3,Arezzo&Co,0013b00001qHFddAAG,BOVESPA:ARZZ3,NaN,NaN,2011.0,NaN,2022.0,active,NaN
4,Arowana International,001C000001ZzPK4IAN,ASX: AWN,NaN,NaN,2013.0,2021.0,2018.0,delisted,NaN

In [4]:
df.drop(['B Corp Impact Data ID', 'Ticker 2', 'Ticker 3'], axis=1, inplace = True)
print(len(df))
df.dropna(axis=0, subset=['Public Company Name (As Listed on Exchange)'], inplace=True)
print(len(df))

999
68

In [5]:
display(df[df['Public Listing Status'] == 'delisted'])

,Public Company Name (As Listed on Exchange),Ticker 1,IPO Year,Year Delisted,Year Certified,Public Listing Status,Year Decertified
2,"AppHarvest, Inc.",NASDAQGS:APPH,2020.0,NaN,2019.0,delisted,2023.0
4,Arowana International,ASX: AWN,2013.0,2021.0,2018.0,delisted,NaN
14,Freshlocal Solutions,TSE: LOCL,2019.0,2021.0,2013.0,delisted,NaN

In [6]:
temp = df.copy()
temp = temp[temp['Public Listing Status'] == 'active']

temp['Ticker 1'].replace(": ", ":", regex=True, inplace=True)


print(len(temp))
temp['Exchange'] = temp['Ticker 1'].str.split(":").str[0]
temp['Ticker2'] = temp['Ticker 1'].str.split(":").str[1]
temp.dropna(subset=["Ticker2"], inplace=True) 

#display(temp)

65

In [7]:
#ticks = temp['Ticker2'].to_list()
#for i in range(len(ticks)):
#    print(ticks[i], type(ticks[i]), i)

In [8]:
#Find datafeed issues

#for t in ticks:
#    ticker = yf.Ticker(t)
#    info = ticker.info
#    info = None

#    try:
#        print("trying")
#        info = ticker.info
#    except:
#        print("except")
        #print(f"Cannot get info of {t}, it probably does not exist")
#    continue

  # Got the info of the ticker, do more stuff with it
    #print(f"Info of {t}: {info}")

In [9]:
#yf.Ticker('BFT.WA').info
#yf.Ticker('LFG.XA').info

In [10]:
exchange_dict = {'ASX': '.XA', 
                 'WSE': '.WA',
                 'BOVESPA': '.SA',
                 'ETHEX': '',
                 'TSX': '.TO',
                 'ENXTPA': '.PA',
                 'BME': '.MC',
                 'ENXTBR': '.BR',
                 'KLSE': '.KL',
                 'LSE': '.AQ',
                 'TWSE': '.TW',
                 'NZSE': '.NZ',
                 'SGX': '.SI',
                 'BIT': '.MI',
                 'TASE': '.TA',
                 'XMIL': '.MI',
                 'NZE': '.NZ',
                 'BVMF': '.SA',
                 'HKG': '.HK',
                 'LON': '.L',
                 'MIL': '.MI',
                 'MOVI3': '.SA',
                 'TSE': '.T',
                 'BRK': '.L',
                 'SNSE': '.SN',
                 'NYSE': '',
                 'NASDAQGS': '',
                 'NASDAQGM': '',
                 'NASDAQCM': ''
                }

exchange_map = {exchanges: extention
                 for exchanges, extention in exchange_dict.items()
                 for exchange in exchanges}

temp['Intl Extention'] = temp['Exchange'].map(exchange_map)

In [11]:
temp['Ticker'] = temp['Ticker2'] + temp['Intl Extention'] 
mask = temp['Ticker'].isna()
temp[mask]

,Public Company Name (As Listed on Exchange),Ticker 1,IPO Year,Year Delisted,Year Certified,Public Listing Status,Year Decertified,Exchange,Ticker2,Intl Extention,Ticker
19,Heidelberg District Community Enterprise Limited,NSX:EIC,2019.0,NaN,2019.0,active,NaN,NSX,EIC,NaN,NaN
29,Movida Aluguel de Carros,MOVIDA B3:MOVI3,2017.0,NaN,2020.0,active,NaN,MOVIDA B3,MOVI3,NaN,NaN
36,SIDERPERU,BVL:SIDERC1,2006.0,NaN,2022.0,active,NaN,BVL,SIDERC1,NaN,NaN
41,Urb-it AB (publ),OM:URBIT,2017.0,NaN,2020.0,active,NaN,OM,URBIT,NaN,NaN
48,Weleda AG Group,OTC-X:BEKB:Weleda N-PS,NaN,NaN,2021.0,active,NaN,OTC-X,BEKB,NaN,NaN
56,Vinedos Emiliana S.A.,XSGO:EMILIANA,1996.0,NaN,2023.0,active,NaN,XSGO,EMILIANA,NaN,NaN

In [12]:
#Find datafeed issues
tickers = temp['Ticker'].to_list()

count = 0
for t in tickers:
    try:
        ticker = yf.Ticker(t)
        info = None
    except:
        count +=1
        print(f"Cannot get info of {t}, it probably does not exist")

print("Total nans =", count, "which is", round(count/temp.shape[0],2)*100, '% of the total')

Cannot get info of nan, it probably does not exist
Cannot get info of nan, it probably does not exist
Cannot get info of nan, it probably does not exist
Cannot get info of nan, it probably does not exist
Cannot get info of nan, it probably does not exist
Cannot get info of nan, it probably does not exist
Total nans = 6 which is 10.0 % of the total

In [13]:
# Remove Nans from stock universe:

b_corp_df = temp[-mask].copy()
display(b_corp_df.head())

,Public Company Name (As Listed on Exchange),Ticker 1,IPO Year,Year Delisted,Year Certified,Public Listing Status,Year Decertified,Exchange,Ticker2,Intl Extention,Ticker
0,"Allbirds, Inc.",NASDAQGS:BIRD,2021.0,NaN,2016.0,active,NaN,NASDAQGS,BIRD,,BIRD
1,Amalgamated Financial,NASDAQGM:AMAL,2018.0,NaN,2017.0,active,NaN,NASDAQGM,AMAL,,AMAL
3,Arezzo&Co,BOVESPA:ARZZ3,2011.0,NaN,2022.0,active,NaN,BOVESPA,ARZZ3,.SA,ARZZ3.SA
5,Australian Ethical Investment Ltd.,ASX:AEF,2002.0,NaN,2014.0,active,NaN,ASX,AEF,.XA,AEF.XA
6,Benefit Systems S.A.,WSE:BFT,2013.0,NaN,2018.0,active,NaN,WSE,BFT,.WA,BFT.WA

In [14]:
isolate_us = False
if isolate_us:

    exchanges = set(temp['Exchange'])
    print(exchanges)
    us_ex = ['NYSE', 'NASDAQGS','NASDAQGM', 'NASDAQCM']
    us = temp[temp['Exchange'].isin(us_ex)]
    print("Isolating US Companies")
    display(us.head())

### List of Companies with B-Corp Subsidiaries
Unilever (NYSE: UN): (Pukka (UK), Mãe Terra (Brazil), Sir Kensington’s (US), Ben & Jerry’s (US), Olly Nutrition (US), Seventh Generation (US), Sundial (US), T2 Tea (Australia), Graze (UK))

B2W (B3: BTOW3): Courrieros (Brazil)

Grupo Soma (B3: SOMA3): Companhia Hering (Brazil)

Arezzo&Co (B3: ARZZ3): Reserva (Brazil)

Procter & Gamble (NYSE: PG): (New Chapter (US))

AB Inbev: (4 Pines Brewing Company)

Banco Estado: (Banco Estado Microempresas, Caja Vecina)

Coca-Cola: (Innocent Drinks)

Fairfax Financial: (The Redwoods Group)

Gap: (Athleta, Hill City)

Kikkoman: (Country Life)

Lactalis: (Stonyfield Farm)

Land O’ Lakes: (Vermonta Creamery)

Nestle: (Essential Living Foods, Garden of Life, Lily's Kitchen)

Oppenheimer Funds Inc.: (SNW Asset Management)

Rakuten: (OverDrive)

The Hain Celestial Group: (Ella’s Kitchen)

Vina Concha y Toro: (Fetzer Vineyards)


Hortfruti S.A.: Hortifruti Chile

Danone SA: (Danone North America, Alpro, Danone Waters of America, Danone Canada, -Aguas Danone Argentina, Bledina, Danone Aqua Indonesia, Danone Egypt, Danone Iberia, Danone Manifesto Ventures, Danone UK, Grameen Danone Foods, Happy Family, Les 2 Vaches, Danone Waters Germany, Danone Dairy Ireland, Danone Waters Spain, Danone Netherlands, Danone Dairy Belgium, Nutricia Bago, Danone ELN Greater China, Danone Japan, Volvic, Danone Brazil)

Caixabank (Imagin Ban)

Banco Sabadell (Sogeviso)

iSun (SunCommon)

In [15]:
add_subs = True
public_subs = ['UL', 'SOMA3.SA', 'ABI.BR', 'PG', 'FFH.TO', 'BUD', 'KO', 'GPS', 'KIK.F', 'NESN.SW',
               'OPY', '4755.T', 'HAIN', 'DANOY', 'CABK.MC', 'ISUN']

In [16]:
def get_stock_data (df):
    tickers_list = df['Ticker'].tolist()
    if add_subs:
        tickers_list = tickers_list + public_subs
    tickers_data= {}
    
    for ticker in tickers_list:
        ticker_object = yf.Ticker(ticker)
        #convert info() output from dictionary to dataframe
        temp = pd.DataFrame.from_dict(ticker_object.info, orient="index")
        temp.reset_index(inplace=True)
        temp.columns = ["Attribute", "Recent"]

        # add (ticker, dataframe) to main dictionary
        tickers_data[ticker] = temp

    return tickers_data

In [17]:
#yf.Ticker('1346.HK').info
#yf.Ticker('MPR.XA').info

In [29]:
if isolate_us:
    stock_data = get_stock_data (us)
else:
    stock_data = get_stock_data (b_corp_df)

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/SZL.XA?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=SZL.XA&crumb=4mfJ%2FGcyIwy

AttributeError: 'dict' object has no attribute 'head'

{'BIRD':              Attribute                 Recent
 0             address1  730 Montgomery Street
 1                 city          San Francisco
 2                state                     CA
 3                  zip                  94111
 4              country          United States
 ..                 ...                    ...
 112       grossMargins                0.41026
 113      ebitdaMargins               -0.38513
 114   operatingMargins               -0.40288
 115  financialCurrency                    USD
 116   trailingPegRatio                   None

 [117 rows x 2 columns],
 'AMAL':              Attribute              Recent
 0             address1  275 Seventh Avenue
 1                 city            New York
 2                state                  NY
 3                  zip               10001
 4              country       United States
 ..                 ...                 ...
 115     earningsGrowth              -0.058
 116      revenueGrowth               0.087
 117   operatingMargins             0.49937
 118  financialCurrency                 USD
 119   trailingPegRatio                None

 [120 rows x 2 columns],
 'ARZZ3.SA':              Attribute                       Recent
 0             address1  Rua Fernandes Tourinho, 147
 1             address2      room 402 Bairro Savassi
 2                 city               Belo Horizonte
 3                state                           MG
 4                  zip                    30112-000
 ..                 ...                          ...
 109       grossMargins                      0.54244
 110      ebitdaMargins                      0.12082
 111   operatingMargins                      0.07995
 112  financialCurrency                          BRL
 113   trailingPegRatio                         None

 [114 rows x 2 columns],
 'AEF.XA':             Attribute           Recent
 0            address1          Level 8
 1            address2  130 Pitt Street
 2                city           Sydney
 3               state              NSW
 4                 zip         NSW 2000
 ..                ...              ...
 95       grossMargins          0.67728
 96      ebitdaMargins          0.25679
 97   operatingMargins          0.26561
 98  financialCurrency              AUD
 99   trailingPegRatio             None

 [100 rows x 2 columns],
 'BFT.WA':              Attribute             Recent
 0             address1  Plac Europejski 2
 1                 city             Warsaw
 2                  zip             00-844
 3              country             Poland
 4                phone     48 22 242 4242
 ..                 ...                ...
 106       grossMargins            0.31788
 107      ebitdaMargins             0.2157
 108   operatingMargins             0.2466
 109  financialCurrency                PLN
 110   trailingPegRatio               None

 [111 rows x 2 columns],
 'BIO.XA':             Attribute                   Recent
 0            address1  192-194 Johnston Street
 1                city                 Cremorne
 2               state                      VIC
 3                 zip                     3066
 4             country                Australia
 ..                ...                      ...
 77       grossMargins                  0.59831
 78      ebitdaMargins                 -0.33159
 79   operatingMargins                 -0.30477
 80  financialCurrency                      AUD
 81   trailingPegRatio                     None

 [82 rows x 2 columns],
 'CWEB.TO':              Attribute          Recent
 0             address1  700 Tech Court
 1                 city      Louisville
 2                state              CO
 3                  zip           80027
 4              country   United States
 ..                 ...             ...
 108       grossMargins         0.56315
 109      ebitdaMargins        -0.39433
 110   operatingMargins        -0.61843
 111  financialCurrency             USD
 112   trailingPegRatio            None

 [113 rows x 2 columns],
 'CLSA3.SA':              Attribute                                             Recent
 0             address1             Av. Marcos Penteado de UlhOa Rodrigues
 1             address2  939 - Alphaville, Torre JacarandA Conjuntos 30...
 2                 city                                          São Paulo
 3                state                                                 SP
 4                  zip                                          06460-040
 ..                 ...                                                ...
 96        grossMargins                                            0.34435
 97       ebitdaMargins                                           -0.13905
 98    operatingMargins                                           -0.32151
 99   financialCurrency                                                BRL
 100   trailingPegRatio                                               None

 [101 rows x 2 columns],
 'MLMFI.PA':             Attribute          Recent
 0            address1  Zuiderlaan 1-3
 1            address2           Bus 8
 2                city            Gent
 3                 zip            9000
 4             country         Belgium
 ..                ...             ...
 72     returnOnAssets        -0.02557
 73     returnOnEquity         0.05164
 74   operatingMargins      -1531.3448
 75  financialCurrency             EUR
 76   trailingPegRatio            None

 [77 rows x 2 columns],
 'COUR':              Attribute                  Recent
 0             address1  381 East Evelyn Avenue
 1                 city           Mountain View
 2                state                      CA
 3                  zip                   94041
 4              country           United States
 ..                 ...                     ...
 111       grossMargins                 0.51888
 112      ebitdaMargins                -0.22214
 113   operatingMargins                -0.14069
 114  financialCurrency                     USD
 115   trailingPegRatio                    None

 [116 rows x 2 columns],
 'FLOW.TO':              Attribute                        Recent
 0             address1  155 Industrial Parkway South
 1             address2                     Unit 7-10
 2                 city                        Aurora
 3                state                            ON
 4                  zip                       L4G 3G6
 ..                 ...                           ...
 100       grossMargins                       0.05536
 101      ebitdaMargins                      -0.88069
 102   operatingMargins                       -1.5841
 103  financialCurrency                           CAD
 104   trailingPegRatio                          None

 [105 rows x 2 columns],
 'FREY.PA':              Attribute                Recent
 0             address1  29 Rue des Pyramides
 1                 city                 Paris
 2                  zip                 75001
 3              country                France
 4                phone      33 3 51 00 50 50
 ..                 ...                   ...
 97        grossMargins               0.60136
 98       ebitdaMargins               0.78876
 99    operatingMargins               0.97589
 100  financialCurrency                   EUR
 101   trailingPegRatio                  None

 [102 rows x 2 columns],
 'GFI.NZ':                      Attribute  \
 0                     address1
 1                     address2
 2                         city
 3                          zip
 4                      country
 5                        phone
 6                      website
 7                     industry
 8                  industryKey
 9                 industryDisp
 10                      sector
 11                   sectorKey
 12                  sectorDisp
 13         longBusinessSummary
 14             companyOfficers
 15   compensationAsOfEpochDate
 16                      maxAge
 17                   priceHint
 18               previousClose
 19                        open
 20                      dayLow
 21                     dayHigh
 22  regularMarketPreviousClose
 23           regularMarketOpen
 24         regularMarketDayLow
 25        regularMarketDayHigh
 26                      volume
 27         regularMarketVolume
 28               averageVolume
 29         averageVolume10days
 30     averageDailyVolume10Day
 31                         bid
 32                         ask
 33                   marketCap
 34             fiftyTwoWeekLow
 35            fiftyTwoWeekHigh
 36             fiftyDayAverage
 37        twoHundredDayAverage
 38                    currency
 39           sharesOutstanding
 40         heldPercentInsiders
 41    impliedSharesOutstanding
 42                 trailingEps
 43                52WeekChange
 44           SandP52WeekChange
 45                    exchange
 46                   quoteType
 47                      symbol
 48            underlyingSymbol
 49                   shortName
 50                    longName
 51      firstTradeDateEpochUtc
 52            timeZoneFullName
 53           timeZoneShortName
 54                        uuid
 55              messageBoardId
 56       gmtOffSetMilliseconds
 57                currentPrice
 58           recommendationKey
 59            trailingPegRatio

                                                Recent
 0                               General Capital House
 1                            Level 8 115 Queen Street
 2                                            Auckland
 3                                                1140
 4                                         New Zealand
 5                                       64 9 304 0145
 6                                      https://gfi.nz
 7            Drug Manufacturers - Specialty & Generic
 8                drug-manufacturers-specialty-generic
 9            Drug Manufacturers - Specialty & Generic
 10                                         Healthcare
 11                                         healthcare
 12                                         Healthcare
 13  Greenfern Industries Limited operates as an en...
 14  [{'maxAge': 1, 'name': 'Mr. Daniel  Casey', 't...
 15                                         1672444800
 16                                              86400
 17                                                  4
 18                                              0.037
 19                                              0.037
 20                                              0.037
 21                                              0.039
 22                                              0.037
 23                                              0.037
 24                                              0.037
 25                                              0.039
 26                                              58385
 27                                              58385
 28                                              53605
 29                                              53608
 30                                              53608
 31                                              0.036
 32                                              0.039
 33                                            4455165
 34                                              0.035
 35                                              0.093
 36                                            0.04042
 37                                            0.04701
 38                                                NZD
 39                                          114235000
 40                                            0.50308
 41                                          119427000
 42                                              -0.02
 43                                          -0.564706
 44                                           0.315937
 45                                                NZE
 46                                             EQUITY
 47                                             GFI.NZ
 48                                             GFI.NZ
 49                    Greenfern Industries Limited Or
 50                       Greenfern Industries Limited
 51                                         1634763600
 52                                   Pacific/Auckland
 53                                               NZDT
 54               88827012-f309-3a52-9243-2c4813f30210
 55                                   finmb_1685127230
 56                                           46800000
 57                                              0.039
 58                                               none
 59                                               None  ,
 'GROV':              Attribute               Recent
 0             address1  1301 Sansome Street
 1                 city        San Francisco
 2                state                   CA
 3                  zip                94111
 4              country        United States
 ..                 ...                  ...
 106       grossMargins              0.52977
 107      ebitdaMargins             -0.11354
 108   operatingMargins              -0.1327
 109  financialCurrency                  USD
 110   trailingPegRatio                 None

 [111 rows x 2 columns],
 'HAN.MC':             Attribute                Recent
 0            address1  Passeig del Plà 30 A
 1                city             Barcelona
 2                 zip                 08230
 3             country                 Spain
 4               phone       34 932 20 94 73
 ..                ...                   ...
 76       grossMargins               0.30311
 77      ebitdaMargins              -1.24467
 78   operatingMargins              -1.15663
 79  financialCurrency                   EUR
 80   trailingPegRatio                  None

 [81 rows x 2 columns],
 'HLZ.MC':             Attribute                        Recent
 0            address1  Passeig Joan de BorbO 99-101
 1            address2                     4th Floor
 2                city                     Barcelona
 3                 zip                         08039
 4             country                         Spain
 ..                ...                           ...
 89       grossMargins                       0.09764
 90      ebitdaMargins                      -0.04672
 91   operatingMargins                      -0.06781
 92  financialCurrency                           EUR
 93   trailingPegRatio                          None

 [94 rows x 2 columns],
 'INCLU.BR':              Attribute                      Recent
 0             address1  Avenue Herrmann-Debroux 40
 1                 city                    Brussels
 2                  zip                        1160
 3              country                     Belgium
 4                phone              32 2 675 78 82
 ..                 ...                         ...
 98        grossMargins                     0.90535
 99       ebitdaMargins                      0.7202
 100   operatingMargins                     0.79161
 101  financialCurrency                         EUR
 102   trailingPegRatio                        None

 [103 rows x 2 columns],
 'INNATURE.KL':           Attribute                                Recent
 0         quoteType                                  NONE
 1            symbol                           INNATURE.KL
 2  underlyingSymbol                           INNATURE.KL
 3              uuid  2f724438-9428-34bf-aabf-2836a1a1bb09
 4    messageBoardId                       finmb_630395332
 5            maxAge                                 86400
 6  trailingPegRatio                                  None,
 'IBAB.BR':             Attribute                  Recent
 0            address1  3, Chemin du Cyclotron
 1                city        Louvain-la-Neuve
 2                 zip                    1348
 3             country                 Belgium
 4               phone          32 1 047 58 11
 ..                ...                     ...
 91       grossMargins                     1.0
 92      ebitdaMargins                 0.02334
 93   operatingMargins                  0.1048
 94  financialCurrency                     EUR
 95   trailingPegRatio                    None

 [96 rows x 2 columns],
 'KPG.XA':             Attribute            Recent
 0            address1  32 Walker Street
 1            address2           Level 8
 2                city      North Sydney
 3               state               NSW
 4                 zip              2060
 ..                ...               ...
 85       grossMargins           0.48711
 86      ebitdaMargins           0.25581
 87   operatingMargins           0.23786
 88  financialCurrency               AUD
 89   trailingPegRatio              None

 [90 rows x 2 columns],
 'KCT.AQ':                      Attribute             Recent
 0                       maxAge              86400
 1                    priceHint                  2
 2                previousClose              128.6
 3                         open              128.6
 4                       dayLow              128.6
 5                      dayHigh              128.6
 6   regularMarketPreviousClose              128.6
 7            regularMarketOpen              128.6
 8          regularMarketDayLow              128.6
 9         regularMarketDayHigh              128.6
 10                      volume               3000
 11         regularMarketVolume               3000
 12                         ask              133.4
 13             fiftyTwoWeekLow              128.6
 14            fiftyTwoWeekHigh              128.6
 15                    currency                GBp
 16                    exchange                AQS
 17                   quoteType             EQUITY
 18                      symbol             KCT.AQ
 19            underlyingSymbol             KCT.AQ
 20                   shortName  KIN AND CARTA PLC
 21            timeZoneFullName      Europe/London
 22           timeZoneShortName                GMT
 23            trailingPegRatio               None,
 'KMD.NZ':              Attribute                             Recent
 0             address1                    223 Tuam Street
 1             address2               Central Christchurch
 2                 city                       Christchurch
 3              country                        New Zealand
 4              website  https://www.kathmanduholdings.com
 ..                 ...                                ...
 113       grossMargins                            0.59187
 114      ebitdaMargins                            0.07013
 115   operatingMargins                           -0.00182
 116  financialCurrency                                NZD
 117   trailingPegRatio                               None

 [118 rows x 2 columns],
 'LMND':              Attribute           Recent
 0             address1  5 Crosby Street
 1             address2        3rd Floor
 2                 city         New York
 3                state               NY
 4                  zip            10013
 ..                 ...              ...
 113       grossMargins           0.3476
 114      ebitdaMargins         -0.47255
 115   operatingMargins         -0.35105
 116  financialCurrency              USD
 117   trailingPegRatio             None

 [118 rows x 2 columns],
 'LFG.XA':             Attribute             Recent
 0            address1  535 Bourke Street
 1            address2           Level 16
 2                city          Melbourne
 3               state                VIC
 4                 zip               3000
 ..                ...                ...
 83      revenueGrowth             -0.042
 84       grossMargins                1.0
 85   operatingMargins            0.25628
 86  financialCurrency                AUD
 87   trailingPegRatio               None

 [88 rows x 2 columns],
 'NTCO3.SA':              Attribute                                        Recent

Attributes = ['address1',
 'city',
 'state',
 'zip',
 'country',
 'phone',
 'website',
 'industry',
 'industryKey',
 'industryDisp',
 'sector',
 'sectorKey',
 'sectorDisp',
 'longBusinessSummary',
 'fullTimeEmployees',
 'companyOfficers',
 'auditRisk',
 'boardRisk',
 'compensationRisk',
 'shareHolderRightsRisk',
 'overallRisk',
 'governanceEpochDate',
 'compensationAsOfEpochDate',
 'maxAge',
 'priceHint',
 'previousClose',
 'open',
 'dayLow',
 'dayHigh',
 'regularMarketPreviousClose',
 'regularMarketOpen',
 'regularMarketDayLow',
 'regularMarketDayHigh',
 'beta',
 'forwardPE',
 'volume',
 'regularMarketVolume',
 'averageVolume',
 'averageVolume10days',
 'averageDailyVolume10Day',
 'bid',
 'ask',
 'bidSize',
 'askSize',
 'marketCap',
 'fiftyTwoWeekLow',
 'fiftyTwoWeekHigh',
 'priceToSalesTrailing12Months',
 'fiftyDayAverage',
 'twoHundredDayAverage',
 'currency',
 'enterpriseValue',
 'profitMargins',
 'floatShares',
 'sharesOutstanding',
 'sharesShort',
 'sharesShortPriorMonth',
 'sharesShortPreviousMonthDate',
 'dateShortInterest',
 'sharesPercentSharesOut',
 'heldPercentInsiders',
 'heldPercentInstitutions',
 'shortRatio',
 'shortPercentOfFloat',
 'impliedSharesOutstanding',
 'bookValue',
 'priceToBook',
 'lastFiscalYearEnd',
 'nextFiscalYearEnd',
 'mostRecentQuarter',
 'netIncomeToCommon',
 'trailingEps',
 'forwardEps',
 'pegRatio',
 'enterpriseToRevenue',
 'enterpriseToEbitda',
 '52WeekChange',
 'SandP52WeekChange',
 'exchange',
 'quoteType',
 'symbol',
 'underlyingSymbol',
 'shortName',
 'longName',
 'firstTradeDateEpochUtc',
 'timeZoneFullName',
 'timeZoneShortName',
 'uuid',
 'messageBoardId',
 'gmtOffSetMilliseconds',
 'currentPrice',
 'targetHighPrice',
 'targetLowPrice',
 'targetMeanPrice',
 'targetMedianPrice',
 'recommendationMean',
 'recommendationKey',
 'numberOfAnalystOpinions',
 'totalCash',
 'totalCashPerShare',
 'ebitda',
 'totalDebt',
 'quickRatio',
 'currentRatio',
 'totalRevenue',
 'debtToEquity',
 'revenuePerShare',
 'returnOnAssets',
 'returnOnEquity',
 'freeCashflow',
 'operatingCashflow',
 'revenueGrowth',
 'grossMargins',
 'ebitdaMargins',
 'operatingMargins',
 'financialCurrency',
 'trailingPegRatio']

In [19]:
combined_data = pd.concat(stock_data) #turn from dict to df
combined_data = combined_data.reset_index()

del combined_data["level_1"] # clean up unnecessary column
combined_data.columns = ["Ticker", "Attribute", "Recent"] # update column names

In [61]:
attr_to_keep = ['shortName', 'longName', 'industry', 'sector','previousClose', 'sharesOutstanding', 'impliedSharesOutstanding',
               'marketCap',  'currency', 'country', 'website', 'enterpriseValue',
                'trailingEps', 'forwardEps', 'enterprisetoEbitda', 'ebitda', 'grossMargins', 'ebitdaMargins', 'operatingMargins']

In [62]:
filtered = combined_data[combined_data["Attribute"].isin(attr_to_keep)].reset_index()
del filtered["index"] # clean up unnecessary column

In [63]:
print("Number of Stocks:", len(filtered['Ticker'].unique()))
display(filtered['Ticker'].unique())

Number of Stocks: 68

array(['BIRD', 'AMAL', 'ARZZ3.SA', 'AEF.XA', 'BFT.WA', 'BIO.XA',
       'CWEB.TO', 'CLSA3.SA', 'MLMFI.PA', 'COUR', 'FLOW.TO', 'FREY.PA',
       'GFI.NZ', 'GROV', 'HAN.MC', 'HLZ.MC', 'INCLU.BR', 'IBAB.BR',
       'KPG.XA', 'KCT.AQ', 'KMD.NZ', 'LMND', 'LFG.XA', 'NTCO3.SA',
       '2897.TW', '1H2.SI', 'ALQP.PA', 'RETI.MI', '6088.T', 'SML.NZ',
       'COCO', 'VNT.MI', 'CONCHATORO.SN', 'VITL', 'VVPR', 'VHT.XA',
       'WRBY', 'ZVIA', 'ABB.XA', 'TIME.MI', 'CVT.NZ', 'DOX.MI',
       'SOMA3.SA', '1112.HK', 'HMGS.TA', '1346.HK', '0973.HK', 'MME.XA',
       'MPR.XA', 'TENG.L', 'TPX.L', 'XSG.L', 'XHS.MI', 'UL', 'ABI.BR',
       'PG', 'FFH.TO', 'BUD', 'KO', 'GPS', 'KIK.F', 'NESN.SW', 'OPY',
       '4755.T', 'HAIN', 'DANOY', 'CABK.MC', 'ISUN'], dtype=object)

In [64]:
display(filtered[filtered['Attribute'] == 'currency'])

        Ticker Attribute Recent
6         BIRD  currency    USD
24        AMAL  currency    USD
39    ARZZ3.SA  currency    BRL
54      AEF.XA  currency    AUD
69      BFT.WA  currency    PLN
...        ...       ...    ...
1029    4755.T  currency    JPY
1047      HAIN  currency    USD
1065     DANOY  currency    USD
1082   CABK.MC  currency    EUR
1097      ISUN  currency    USD

[68 rows x 3 columns]

In [65]:
#display(stock_data.head())
display(filtered.head())
stock_data_filtered = filtered.pivot(columns = 'Attribute', index='Ticker', values='Recent')
stock_data_filtered.columns
stock_data_filtered = stock_data_filtered[['shortName', 'longName','country', 'currency', 'previousClose',
                                           'sharesOutstanding', 'impliedSharesOutstanding','marketCap', 'enterpriseValue',
                                           'ebitda', 'forwardEps',  'trailingEps', 'grossMargins', 'operatingMargins', 'ebitdaMargins',
                                             'industry', 'sector', 'website']]

  Ticker      Attribute                    Recent
0   BIRD        country             United States
1   BIRD        website  https://www.allbirds.com
2   BIRD       industry            Apparel Retail
3   BIRD         sector         Consumer Cyclical
4   BIRD  previousClose                    0.6876

In [66]:
#stock_data_filtered.to_csv('Stock_data_24.03.25_a.csv')
stock_data_filtered

Attribute,shortName,longName,country,currency,previousClose,sharesOutstanding,impliedSharesOutstanding,marketCap,enterpriseValue,ebitda,forwardEps,trailingEps,grossMargins,operatingMargins,ebitdaMargins,industry,sector,website
Ticker,,,,,,,,,,,,,,,,,,
0973.HK,L'OCCITANE,L'Occitane International S.A.,Luxembourg,HKD,31.5,1472169984,1472169984,46888615936,47115563008,378692992,1.6,0.5,0.79602,0.08024,0.16421,Household & Personal Products,Consumer Defensive,https://group.loccitane.com
1112.HK,H&H INTL HLDG,Health and Happiness (H&H) International Holdi...,Hong Kong,HKD,11.24,645561024,645561024,7010792448,15227624448,2015838976,1.58,1.26,0.5996,0.15885,0.14606,Packaged Foods,Consumer Defensive,https://www.hh.global
1346.HK,LEVER STYLE,Lever Style Corporation,Hong Kong,HKD,0.95,639100032,689366016,600754048,579670272,18602392,NaN,0.19,0.28717,0.09904,0.08921,Apparel Manufacturing,Consumer Cyclical,https://www.leverstyle.com
1H2.SI,$ Olive Tree,Olive Tree Estates Limited,Singapore,SGD,0.078,115845000,124756000,9035910,13570926,-218000,NaN,-0.02,0.97498,-0.66778,-0.18182,Real Estate - Diversified,Real Estate,https://www.olivetreeestates.com
2897.TW,O-BANK CO LTD,"O-Bank Co., Ltd.",Taiwan,TWD,9.97,2716470016,2716470016,26920216576,107982684160,NaN,NaN,0.78,NaN,0.27909,NaN,Banks - Regional,Financial Services,https://www.o-bank.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VVPR,VivoPower International PLC,VivoPower International PLC,United Kingdom,USD,1.48,3270600,3270600,4742370,38970664,-5913000,-0.41,-8.2,0.10544,-0.49761,-0.39263,Solar,Technology,https://vivopower.com
WRBY,Warby Parker Inc.,Warby Parker Inc.,United States,USD,12.75,98374096,118163000,1520757760,1464138624,-33442000,0.28,-0.54,0.5453,-0.13326,-0.04993,Medical Instruments & Supplies,Healthcare,https://www.warbyparker.com
XHS.MI,XENIA HOTELLERIE SOLUTION,Xenia Hôtellerie Solution S.p.A. Società Benefit,Italy,EUR,2.66,3219000,3315810,8562540,20608540,2879812,NaN,NaN,0.09808,0.04408,0.0596,Lodging,Consumer Cyclical,https://www.xeniahs.com
XSG.L,XEROS TECHNOLOGY GROUP PLC ORD,Xeros Technology Group plc,United Kingdom,GBp,2.44,193831008,202570000,4456540,875032,-5895000,-1.8,0.01,-2.173,-23.9469,NaN,Specialty Industrial Machinery,Industrials,https://www.xerostech.com
ZVIA,Zevia PBC,Zevia PBC,United States,USD,1.07,64530000,64529600,69047104,268538,-27728000,-0.28,-1.321,0.4492,-0.23535,-0.16661,Beverages - Non-Alcoholic,Consumer Defensive,https://www.zevia.com

In [24]:
# Get avaialable currencies
currency_dict = {}

url = "https://currency-conversion-and-exchange-rates.p.rapidapi.com/symbols"

headers = {"X-RapidAPI-Key": "af4b092441msh3f4304a0bce0366p1680a3jsn93d4c3a0659f",
           "X-RapidAPI-Host": "currency-conversion-and-exchange-rates.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

api_data = response.json()

    
for symbol, curr in api_data['symbols'].items():
    currency_dict[symbol] = (curr, 0)

#currency_dict

{'ANG': ('Netherlands Antillean Guilder', 0),
 'SVC': ('Salvadoran Colón', 0),
 'CAD': ('Canadian Dollar', 0),
 'XCD': ('East Caribbean Dollar', 0),
 'MVR': ('Maldivian Rufiyaa', 0),
 'HRK': ('Croatian Kuna', 0),
 'AUD': ('Australian Dollar', 0),
 'MWK': ('Malawian Kwacha', 0),
 'XAG': ('Silver (troy ounce)', 0),
 'MAD': ('Moroccan Dirham', 0),
 'PHP': ('Philippine Peso', 0),
 'NAD': ('Namibian Dollar', 0),
 'GNF': ('Guinean Franc', 0),
 'KES': ('Kenyan Shilling', 0),
 'MZN': ('Mozambican Metical', 0),
 'BTN': ('Bhutanese Ngultrum', 0),
 'MGA': ('Malagasy Ariary', 0),
 'AZN': ('Azerbaijani Manat', 0),
 'XAU': ('Gold (troy ounce)', 0),
 'RON': ('Romanian Leu', 0),
 'CHF': ('Swiss Franc', 0),
 'EGP': ('Egyptian Pound', 0),
 'BSD': ('Bahamian Dollar', 0),
 'TWD': ('New Taiwan Dollar', 0),
 'GGP': ('Guernsey Pound', 0),
 'LVL': ('Latvian Lats', 0),
 'MMK': ('Myanma Kyat', 0),
 'WST': ('Samoan Tala', 0),
 'ILS': ('Israeli New Sheqel', 0),
 'BHD': ('Bahraini Dinar', 0),
 'GBP': ('British Pound Sterling', 0),
 'TZS': ('Tanzanian Shilling', 0),
 'SDG': ('South Sudanese Pound', 0),
 'LAK': ('Laotian Kip', 0),
 'DJF': ('Djiboutian Franc', 0),
 'BYN': ('New Belarusian Ruble', 0),
 'LBP': ('Lebanese Pound', 0),
 'RWF': ('Rwandan Franc', 0),
 'PEN': ('Peruvian Nuevo Sol', 0),
 'EUR': ('Euro', 0),
 'ZMK': ('Zambian Kwacha (pre-2013)', 0),
 'RSD': ('Serbian Dinar', 0),
 'INR': ('Indian Rupee', 0),
 'MUR': ('Mauritian Rupee', 0),
 'BWP': ('Botswanan Pula', 0),
 'GEL': ('Georgian Lari', 0),
 'KMF': ('Comorian Franc', 0),
 'UZS': ('Uzbekistan Som', 0),
 'RUB': ('Russian Ruble', 0),
 'CUC': ('Cuban Convertible Peso', 0),
 'BGN': ('Bulgarian Lev', 0),
 'JOD': ('Jordanian Dinar', 0),
 'NGN': ('Nigerian Naira', 0),
 'BDT': ('Bangladeshi Taka', 0),
 'PKR': ('Pakistani Rupee', 0),
 'BRL': ('Brazilian Real', 0),
 'KZT': ('Kazakhstani Tenge', 0),
 'CVE': ('Cape Verdean Escudo', 0),
 'HNL': ('Honduran Lempira', 0),
 'NZD': ('New Zealand Dollar', 0),
 'ERN': ('Eritrean Nakfa', 0),
 'NPR': ('Nepalese Rupee', 0),
 'ZMW': ('Zambian Kwacha', 0),
 'FKP': ('Falkland Islands Pound', 0),
 'DZD': ('Algerian Dinar', 0),
 'JMD': ('Jamaican Dollar', 0),
 'CRC': ('Costa Rican Colón', 0),
 'GMD': ('Gambian Dalasi', 0),
 'PLN': ('Polish Zloty', 0),
 'AMD': ('Armenian Dram', 0),
 'BMD': ('Bermudan Dollar', 0),
 'BZD': ('Belize Dollar', 0),
 'BBD': ('Barbadian Dollar', 0),
 'SBD': ('Solomon Islands Dollar', 0),
 'IDR': ('Indonesian Rupiah', 0),
 'ALL': ('Albanian Lek', 0),
 'IQD': ('Iraqi Dinar', 0),
 'BIF': ('Burundian Franc', 0),
 'HKD': ('Hong Kong Dollar', 0),
 'GIP': ('Gibraltar Pound', 0),
 'BAM': ('Bosnia-Herzegovina Convertible Mark', 0),
 'LKR': ('Sri Lankan Rupee', 0),
 'QAR': ('Qatari Rial', 0),
 'SAR': ('Saudi Riyal', 0),
 'TOP': ('Tongan Paʻanga', 0),
 'SEK': ('Swedish Krona', 0),
 'ZAR': ('South African Rand', 0),
 'ARS': ('Argentine Peso', 0),
 'MYR': ('Malaysian Ringgit', 0),
 'BYR': ('Belarusian Ruble', 0),
 'KPW': ('North Korean Won', 0),
 'CZK': ('Czech Republic Koruna', 0),
 'STD': ('São Tomé and Príncipe Dobra', 0),
 'BTC': ('Bitcoin', 0),
 'ZWL': ('Zimbabwean Dollar', 0),
 'LSL': ('Lesotho Loti', 0),
 'COP': ('Colombian Peso', 0),
 'PAB': ('Panamanian Balboa', 0),
 'IRR': ('Iranian Rial', 0),
 'NOK': ('Norwegian Krone', 0),
 'XPF': ('CFP Franc', 0),
 'XOF': ('CFA Franc BCEAO', 0),
 'XDR': ('Special Drawing Rights', 0),
 'OMR': ('Omani Rial', 0),
 'CNY': ('Chinese Yuan', 0),
 'NIO': ('Nicaraguan Córdoba', 0),
 'AOA': ('Angolan Kwanza', 0),
 'SCR': ('Seychellois Rupee', 0),
 'MOP': ('Macanese Pataca', 0),
 'ISK': ('Icelandic Króna', 0),
 'VND': ('Vietnamese Dong', 0),
 'VES': ('Sovereign Bolivar', 0),
 'USD': ('United States Dollar', 0),
 'UYU': ('Uruguayan Peso', 0),
 'VEF': ('Venezuelan Bolívar Fuerte', 0),
 'MRU': ('Mauritanian Ouguiya', 0),
 'UGX': ('Ugandan Shilling', 0),
 'DOP': ('Dominican Peso', 0),
 'UAH': ('Ukrainian Hryvnia', 0),
 'BOB': ('Bolivian Boliviano', 0),
 'TTD': ('Trinidad and Tobago Dollar', 0),
 'KGS': ('Kyrgystani Som', 0),
 'TND': ('Tunisian Dinar', 0),
 'SGD': ('Singapore Dollar', 0),
 'TMT': ('Turkmenistani Manat', 0),
 'GHS': ('Ghanaian Cedi', 0),
 'TJS': ('Tajikistani Somoni', 0),
 'KHR': ('Cambodian Riel', 0),
 'ETB': ('Ethiopian Birr', 0),
 'PGK': ('Papua New Guinean Kina', 0),
 'THB': ('Thai Baht', 0),
 'AED': ('United Arab Emirates Dirham', 0),
 'CLP': ('Chilean Peso', 0),
 'LRD': ('Liberian Dollar', 0),
 'SYP': ('Syrian Pound', 0),
 'KYD': ('Cayman Islands Dollar', 0),
 'SRD': ('Surinamese Dollar', 0),
 'GTQ': ('Guatemalan Quetzal', 0),
 'LYD': ('Libyan Dinar', 0),
 'SLL': ('Sierra Leonean Leone', 0),
 'SLE': ('Sierra Leonean Leone', 0),
 'SHP': ('Saint Helena Pound', 0),
 'IMP': ('Manx pound', 0),
 'FJD': ('Fijian Dollar', 0),
 'PYG': ('Paraguayan Guarani', 0),
 'KRW': ('South Korean Won', 0),
 'SZL': ('Swazi Lilangeni', 0),
 'GYD': ('Guyanaese Dollar', 0),
 'MDL': ('Moldovan Leu', 0),
 'MXN': ('Mexican Peso', 0),
 'LTL': ('Lithuanian Litas', 0),
 'HTG': ('Haitian Gourde', 0),
 'SOS': ('Somali Shilling', 0),
 'MNT': ('Mongolian Tugrik', 0),
 'AFN': ('Afghan Afghani', 0),
 'CUP': ('Cuban Peso', 0),
 'CLF': ('Chilean Unit of Account (UF)', 0),
 'JPY': ('Japanese Yen', 0),
 'TRY': ('Turkish Lira', 0),
 'YER': ('Yemeni Rial', 0),
 'HUF': ('Hungarian Forint', 0),
 'BND': ('Brunei Dollar', 0),
 'JEP': ('Jersey Pound', 0),
 'MKD': ('Macedonian Denar', 0),
 'AWG': ('Aruban Florin', 0),
 'CDF': ('Congolese Franc', 0),
 'VUV': ('Vanuatu Vatu', 0),
 'XAF': ('CFA Franc BEAC', 0),
 'KWD': ('Kuwaiti Dinar', 0),
 'DKK': ('Danish Krone', 0)}

In [25]:
## Access Exchange Rates:

url = "https://currency-conversion-and-exchange-rates.p.rapidapi.com/latest"

#querystring = {"from":"USD","to":"EUR,GBP"}
querystring = {'base':'USD'}

headers = {"X-RapidAPI-Key": "af4b092441msh3f4304a0bce0366p1680a3jsn93d4c3a0659f",
           "X-RapidAPI-Host": "currency-conversion-and-exchange-rates.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

exch_data = response.json()

for key in exch_data: 
    print(key,":", exch_data[key])

timestamp : 1711374185
base : USD
success : True
date : 2024-03-25
rates : {'ANG': 1.801965, 'SVC': 8.748603, 'CAD': 1.35769, 'XCD': 2.70255, 'MVR': 15.450579, 'HRK': 6.882375, 'AUD': 1.527931, 'MWK': 1733.546314, 'XAG': 0.040264, 'MAD': 10.074328, 'PHP': 56.212499, 'NAD': 19.009774, 'GNF': 8593.483098, 'KES': 132.240206, 'MZN': 63.503045, 'BTN': 83.369035, 'MGA': 4375.646329, 'AZN': 1.697463, 'XAU': 0.000459, 'RON': 4.587502, 'CHF': 0.896965, 'EGP': 47.400202, 'BSD': 0.999778, 'TWD': 31.835296, 'GGP': 0.793084, 'LVL': 0.60489, 'MMK': 2099.626056, 'WST': 2.749509, 'ILS': 3.636355, 'BHD': 0.376907, 'GBP': 0.790702, 'TZS': 2554.999589, 'SDG': 585.999926, 'LAK': 21056.470675, 'DJF': 178.043488, 'BYN': 3.271979, 'LBP': 89534.273896, 'RWF': 1284.243571, 'PEN': 3.703372, 'EUR': 0.922795, 'ZMK': 9001.196439, 'RSD': 108.155045, 'INR': 83.40895, 'MUR': 46.300075, 'BWP': 13.724205, 'GEL': 2.698534, 'KMF': 455.550616, 'UZS': 12595.218969, 'RUB': 92.134968, 'CUC': 1, 'BGN': 1.804801, 'JOD': 0.708897, 'NGN': 1412.889767, 'BDT': 109.738419, 'PKR': 278.1262, 'BRL': 4.978702, 'KZT': 450.415264, 'CVE': 101.811584, 'HNL': 24.68445, 'NZD': 1.66349, 'ERN': 15, 'NPR': 133.390272, 'ZMW': 26.770018, 'FKP': 0.793084, 'DZD': 134.817025, 'JMD': 153.7801, 'CRC': 502.474516, 'GMD': 67.89682, 'PLN': 3.977276, 'AMD': 395.922588, 'BMD': 1, 'BZD': 2.015336, 'BBD': 2.018781, 'SBD': 8.447127, 'IDR': 15780.25, 'ALL': 95.010341, 'IQD': 1309.739252, 'BIF': 2859.978764, 'HKD': 7.82105, 'GIP': 0.793084, 'BAM': 1.805859, 'LKR': 302.20351, 'QAR': 3.64125, 'SAR': 3.750531, 'TOP': 2.377203, 'SEK': 10.571365, 'ZAR': 18.876095, 'ARS': 856.261829, 'MYR': 4.725019, 'BYR': 19600, 'KPW': 900.000329, 'CZK': 23.313598, 'STD': 20697.981008, 'BTC': 1.4859717e-05, 'ZWL': 321.999592, 'LSL': 19.010235, 'COP': 3897.14, 'PAB': 0.999862, 'IRR': 42034.999946, 'NOK': 10.692865, 'XPF': 110.64974, 'XOF': 605.668356, 'XDR': 0.755093, 'OMR': 0.384973, 'CNY': 7.211019, 'NIO': 36.794918, 'AOA': 835.549391, 'SCR': 13.597036, 'MOP': 8.055566, 'ISK': 137.589716, 'VND': 24750, 'VES': 36.276326, 'USD': 1, 'UYU': 37.718253, 'VEF': 3623615.264893, 'MRU': 39.889501, 'UGX': 3894.628958, 'DOP': 59.08369, 'UAH': 39.282489, 'BOB': 6.909255, 'TTD': 6.795686, 'KGS': 89.509815, 'TND': 3.090964, 'SGD': 1.34462, 'TMT': 3.505, 'GHS': 13.147252, 'TJS': 10.928027, 'KHR': 4045.981257, 'ETB': 56.800118, 'PGK': 3.775484, 'THB': 36.300503, 'AED': 3.67225, 'CLP': 977.840185, 'LRD': 192.708345, 'SYP': 13001.836361, 'KYD': 0.833203, 'SRD': 35.149696, 'GTQ': 7.798419, 'LYD': 4.837354, 'SLL': 22664.973801, 'SLE': 22.664974, 'SHP': 1.26585, 'IMP': 0.793084, 'FJD': 2.280595, 'PYG': 7348.759049, 'KRW': 1341.435032, 'SZL': 18.957661, 'GYD': 209.179716, 'MDL': 17.696484, 'MXN': 16.71624, 'LTL': 2.95274, 'HTG': 132.561436, 'SOS': 571.505413, 'MNT': 3379.377123, 'AFN': 71.28051, 'CUP': 26.5, 'CLF': 0.035442, 'JPY': 151.173036, 'TRY': 32.146915, 'YER': 250.404929, 'HUF': 365.902996, 'BND': 1.345183, 'JEP': 0.793084, 'MKD': 56.878447, 'AWG': 1.8025, 'CDF': 2774.999627, 'VUV': 119.377088, 'XAF': 605.657172, 'KWD': 0.3076, 'DKK': 6.88218}

## Upload Stock Universe Data after accounting for Exhange Rates

In [134]:
stocks_updated = pd.read_csv('Stock_data_24.03.25_updated.csv')
display(stocks_updated.head())

,Ticker,country,currency,Exchange Rate 03/25/2024),previousClose,previousCloseUSD,impliedSharesOutstanding,marketCapHomeCurrency,marketCapUSD
0,PG,United States,USD,$1.00,161.66,$161.66,2.353020e+09,3.78954E+11,3.789540e+11
1,NESN.SW,Switzerland,CHF,$1.11,94.36,$104.94,2.621310e+09,2.48107E+11,2.759200e+11
2,KO,United States,USD,$1.00,60.49,$60.49,4.312460e+09,2.61603E+11,2.616030e+11
3,UL,United Kingdom,USD,$1.00,49.99,$49.99,2.530770e+09,1.25592E+11,1.255920e+11
4,BUD,Belgium,USD,$1.00,59.50,$59.50,2.821060e+08,1.19174E+11,1.191740e+11

In [135]:
def get_price_history2 (df, start, end):
    tickers_list = df['Ticker'].tolist()
    tickers_data= {}
    first_object = yf.Ticker(tickers_list[0])
    prices = pd.DataFrame.from_dict(first_object.history(start=start, end=end, interval = "1d"))
    prices.drop(['Open', 'High', 'Low', 'Volume', 'Dividends', 'Stock Splits'], axis=1, inplace=True)
    prices.columns = [tickers_list[0]]
    
    for ticker in tickers_list[1:]:
        ticker_object = yf.Ticker(ticker)
        try:
            temp = pd.DataFrame.from_dict(ticker_object.history(start=start, end=end, interval = "1d"))
            temp.drop(['Open', 'High', 'Low', 'Volume', 'Dividends', 'Stock Splits'], axis=1, inplace=True)
            temp.columns = [ticker]
            prices = prices.merge(temp, how="outer", left_index=True, right_index=True)
        except:
            continue

    return prices

In [136]:
yf.Ticker("NESN.SW").history(start='2022-01-01', end='2022-01-25', interval='1d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-03 00:00:00+01:00,122.214293,123.662425,122.099972,123.109848,3412729,0.0,0.0
2022-01-04 00:00:00+01:00,123.662420,123.662420,122.061851,123.376602,2920374,0.0,0.0
2022-01-05 00:00:00+01:00,122.138077,122.157135,119.718187,120.042107,5579892,0.0,0.0
2022-01-06 00:00:00+01:00,118.632082,119.908724,118.346272,119.775345,3806803,0.0,0.0
2022-01-07 00:00:00+01:00,119.394256,119.641964,118.174782,118.574921,3579390,0.0,0.0
2022-01-10 00:00:00+01:00,118.708299,118.727357,115.831103,116.135971,4560274,0.0,0.0
2022-01-11 00:00:00+01:00,116.478944,117.488820,115.964477,116.402725,3707378,0.0,0.0
2022-01-12 00:00:00+01:00,116.707593,116.860031,115.469060,116.040695,5324981,0.0,0.0
2022-01-13 00:00:00+01:00,116.040702,116.345571,115.316637,115.659615,4004810,0.0,0.0
2022-01-14 00:00:00+01:00,114.859324,115.507171,114.325806,115.126083,5059252,0.0,0.0
2022-01-17 00:00:00+01:00,115.202306,116.517058,114.916496,116.174080,3021837,0.0,0.0
2022-01-18 00:00:00+01:00,115.945423,116.955306,115.392854,116.593269,4164905,0.0,0.0
2022-01-19 00:00:00+01:00,115.678664,115.945423,114.344862,114.478249,3854008,0.0,0.0
2022-01-20 00:00:00+01:00,114.554457,115.659610,114.344859,115.469063,3333929,0.0,0.0
2022-01-21 00:00:00+01:00,114.649730,116.193131,114.630679,115.316635,4307748,0.0,0.0
2022-01-24 00:00:00+01:00,114.897437,115.068926,112.420380,112.420380,6007234,0.0,0.0

In [137]:
prices = get_price_history2(stocks_updated, start='2022-01-01', end='2023-12-31')

KCT.AQ: Period '1mo' is invalid, must be one of ['1d', '5d']

In [138]:
print(prices.shape)

top20=prices.iloc[:,0:20]
print(top20.shape)
top30=prices.iloc[:,0:30]
print(top30.shape)

(4535, 67)
(4535, 20)
(4535, 30)

In [159]:
def calc_index2(df, num_in_index = 30, divisor = 1000000000):
    cols = df.columns
    mkt_cap_cols = []
    for col in cols:
        if "marketCapUSD" in col:
            mkt_cap_cols.append(col)
    
    mkt_cap_df = df[mkt_cap_cols].copy()
    
    mkt_cap_df = mkt_cap_df.iloc[0:num_in_index,:]
    #display(mkt_cap_df)
    
    # Sort by beginning mkt cap
    baseline_order = mkt_cap_df.iloc[0,:].sort_values(ascending=False)
    #baseline_all = baseline_order.index.to_list()

    
    mkt_cap_df['Total_Index'] = mkt_cap_df.sum(axis=0)/divisor
    
    return mkt_cap_df

In [160]:
calc_index2(stocks_updated)

    marketCapUSD  Total_Index
0   3.789540e+11          NaN
1   2.759200e+11          NaN
2   2.616030e+11          NaN
3   1.255920e+11          NaN
4   1.191740e+11          NaN
5   1.176780e+11          NaN
6   4.152268e+10          NaN
7   3.796921e+10          NaN
8   2.637475e+10          NaN
9   1.257604e+10          NaN
10  1.248303e+10          NaN
11  1.050319e+10          NaN
12  5.992365e+09          NaN
13  4.962609e+09          NaN
14  2.194105e+09          NaN
15  1.520758e+09          NaN
16  1.400176e+09          NaN
17  1.372499e+09          NaN
18  1.158415e+09          NaN
19  1.146727e+09          NaN
20  9.629753e+08          NaN
21  9.508127e+08          NaN
22  8.959793e+08          NaN
23  8.865718e+08          NaN
24  8.450256e+08          NaN
25  7.348291e+08          NaN
26  7.252084e+08          NaN
27  4.823329e+08          NaN
28  4.146201e+08          NaN
29  3.956858e+08          NaN

In [ ]:
fig, (ax0, ax1, ax2) = plt.subplots(3, 1, figsize = (20,18))
ax0.plot(normed_data0, color = 'seagreen', linewidth=2, label = 'With Subs')
ax0.legend(loc=3)
ax1.plot(normed_data1, color = 'royalblue', linewidth=2,label='Cert B Corps')
ax1.legend(loc=3)
ax2.plot(normed_data0, color = 'seagreen', linewidth=2, label = 'With Subs')
ax2.plot(normed_data1, color = 'royalblue', linewidth=2, label = 'Cert B Corps')
ax2.plot(normed_spx, color='darkorange', linewidth=2, label = 'SPX')
ax2.legend(loc=3)
plt.show()

In [105]:
## This is the old code.....

def get_price_history (df, start, end, add_subs = False):
    tickers_list = df['Ticker'].tolist()
    if add_subs:
        tickers_list = tickers_list + public_subs

    tickers_data= {}
    first_object = yf.Ticker(tickers_list[0])
    prices = pd.DataFrame.from_dict(first_object.history(start=start, end=end, interval = "1d"))
    prices.drop(['Open', 'High', 'Low', 'Volume', 'Dividends', 'Stock Splits'], axis=1, inplace=True)
    prices.columns = [tickers_list[0]]
    
    for ticker in tickers_list[1:]:
        ticker_object = yf.Ticker(ticker)
        temp = pd.DataFrame.from_dict(ticker_object.history(start=start, end=end, interval = "1d"))
        temp.drop(['Open', 'High', 'Low', 'Volume', 'Dividends', 'Stock Splits'], axis=1, inplace=True)
        temp.columns = [ticker]
        prices = prices.merge(temp, how="outer", left_index=True, right_index=True)

    return prices

In [104]:
#px_df = get_price_history(filtered, start="2022-01-01", end = "2024-02-23")
spx_object = yf.Ticker("^GSPC")
spx = pd.DataFrame.from_dict(spx_object.history(start="2022-01-01", end="2024-02-23", interval = "1d"))
spx

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-03 00:00:00-05:00,4778.140137,4796.640137,4758.169922,4796.560059,3831020000,0.0,0.0
2022-01-04 00:00:00-05:00,4804.509766,4818.620117,4774.270020,4793.540039,4683170000,0.0,0.0
2022-01-05 00:00:00-05:00,4787.990234,4797.700195,4699.439941,4700.580078,4887960000,0.0,0.0
2022-01-06 00:00:00-05:00,4693.390137,4725.009766,4671.259766,4696.049805,4295280000,0.0,0.0
2022-01-07 00:00:00-05:00,4697.660156,4707.950195,4662.740234,4677.029785,4181510000,0.0,0.0
...,...,...,...,...,...,...,...
2024-02-15 00:00:00-05:00,5003.140137,5032.720215,4999.439941,5029.729980,4137970000,0.0,0.0
2024-02-16 00:00:00-05:00,5031.129883,5038.700195,4999.520020,5005.569824,3833270000,0.0,0.0
2024-02-20 00:00:00-05:00,4989.319824,4993.709961,4955.020020,4975.509766,4034880000,0.0,0.0
2024-02-21 00:00:00-05:00,4963.029785,4983.209961,4946.000000,4981.799805,3788390000,0.0,0.0
2024-02-22 00:00:00-05:00,5038.830078,5094.390137,5038.830078,5087.029785,4051710000,0.0,0.0

In [ ]:
def add_shares_out (df, add_subs = False):
    df['BIRD_SharesOut'] = 152850000
    df['BIRD_MktCap'] = df['BIRD_SharesOut'] * df['BIRD']

    df['AMAL_SharesOut'] = 30430000
    df['AMAL_MktCap'] = df['AMAL_SharesOut'] * df['AMAL']

    df['COUR_SharesOut'] = 156950000
    df['COUR_MktCap'] = df['COUR_SharesOut'] * df['COUR']

    df['GROV_SharesOut'] = 37450000
    df['GROV_MktCap'] = df['GROV_SharesOut'] * df['GROV']

    df['LMND_SharesOut'] = 69920000
    df['LMND_MktCap'] = df['LMND_SharesOut'] * df['LMND']

    df['COCO_SharesOut'] = 56800000
    df['COCO_MktCap'] = df['COCO_SharesOut'] * df['COCO']

    df['VITL_SharesOut'] = 41600000
    df['VITL_MktCap'] = df['VITL_SharesOut'] * df['VITL']

    df['VVPR_SharesOut'] = 3270000
    df['VVPR_MktCap'] = df['VVPR_SharesOut'] * df['VVPR']

    df['WRBY_SharesOut'] = 117640000
    df['WRBY_MktCap'] = df['WRBY_SharesOut'] * df['WRBY']

    df['ZVIA_SharesOut'] = 50410000
    df['ZVIA_MktCap'] = df['ZVIA_SharesOut'] * df['ZVIA']


    if add_subs:
        df['UL_SharesOut'] = 2499020000
        df['UL_MktCap'] = df['UL_SharesOut'] * df['UL']

        df['PG_SharesOut'] = 2353020000
        df['PG_MktCap'] = df['PG_SharesOut'] * df['PG']

        df['BUD_SharesOut'] = 1986770000
        df['BUD_MktCap'] = df['BUD_SharesOut'] * df['BUD']

        df['KO_SharesOut'] = 4312460000
        df['KO_MktCap'] = df['KO_SharesOut'] * df['KO']


        df['GPS_SharesOut'] = 370830000 
        df['GPS_MktCap'] = df['GPS_SharesOut'] * df['GPS']


        df['OPY_SharesOut'] = 10290000
        df['OPY_MktCap'] = df['OPY_SharesOut'] * df['OPY']


        df['HAIN_SharesOut'] = 89830000
        df['HAIN_MktCap'] = df['HAIN_SharesOut'] * df['HAIN']


        df['DANOY_SharesOut'] = 2499020000
        df['DANOY_MktCap'] = df['DANOY_SharesOut'] * df['DANOY']
        
    col_order = df.columns.sort_values().tolist()
    df = df[col_order]
    
    return df

In [ ]:
#col_order = px_df.columns.sort_values().tolist()
#px_df = px_df[col_order]

In [ ]:
#px_df.to_csv('Public_B_Corps.csv')

In [ ]:
## This is the old code


def calc_index(df, divisor = 1000000000):
    cols = df.columns
    mkt_cap_cols = []
    for col in cols:
        if "MktCap" in col:
            mkt_cap_cols.append(col)
    
    mkt_cap_df = df[mkt_cap_cols].copy()
    
    # Sort by beginning mkt cap
    baseline_order = mkt_cap_df.iloc[0,:].sort_values(ascending=False)
    baseline_all = baseline_order.index.to_list()
    
    mkt_cap_df['Total_Index'] = mkt_cap_df[baseline_all].sum(axis=1)/divisor
    
    return mkt_cap_df

In [ ]:
def separate_subs (df, show_chart = True):

    px0 = get_price_history(df, start="2022-01-01", end = "2024-02-23", add_subs = True)
    px0 = add_shares_out(px0, add_subs = True)
    #px0.to_csv('24_03_19_BCorp_Index.csv')
    mkt_cap0 = calc_index(px0, divisor = 100000000)
    index0 = mkt_cap0[['Total_Index']]
    normed_data0 = index0.copy()
    normed_data0 = normed_data0.div(normed_data0.iloc[0]).fillna(0)


    px1 = get_price_history(df, start="2022-01-01", end = "2024-02-23", add_subs = False)
    px1 = add_shares_out(px1, add_subs = False)
    mkt_cap1 = calc_index(px1, divisor = 10000000)
    index1 = mkt_cap1[['Total_Index']]
    normed_data1 = index1.copy()
    normed_data1 = normed_data1.div(normed_data1.iloc[0]).fillna(0)
    
    # Add SPX:
    normed_spx = spx['Close'].copy()
    normed_spx = normed_spx.div(normed_spx.iloc[0]).fillna(0)
    
    if show_chart:
        fig, (ax0, ax1, ax2) = plt.subplots(3, 1, figsize = (20,18))
        ax0.plot(normed_data0, color = 'seagreen', linewidth=2, label = 'With Subs')
        ax0.legend(loc=3)
        ax1.plot(normed_data1, color = 'royalblue', linewidth=2,label='Cert B Corps')
        ax1.legend(loc=3)
        ax2.plot(normed_data0, color = 'seagreen', linewidth=2, label = 'With Subs')
        ax2.plot(normed_data1, color = 'royalblue', linewidth=2, label = 'Cert B Corps')
        ax2.plot(normed_spx, color='darkorange', linewidth=2, label = 'SPX')
        ax2.legend(loc=3)
        plt.show()
        
    return px0, px1

In [ ]:
all_px, bcorp_px = separate_subs(us, show_chart = True)

In [ ]:
all_px.to_csv("B_Corp_Stocks.csv")

## Construct a Subset - look at reweighting?

In [ ]:
def determine_reweighting (df, n=8):
    cols = df.columns
    mkt_cap_cols = []
    for col in cols:
        if "MktCap" in col:
            mkt_cap_cols.append(col)
    mkt_cap_df = df[mkt_cap_cols].copy()
    
    # Sort by beginning mkt cap
    baseline_order = mkt_cap_df.iloc[0,:].sort_values(ascending=False)
    baseline_all = baseline_order.index.to_list()
    baseline_n = baseline_order.index[0:n].to_list()
    
    #Add Quarterly Flag
    mkt_cap_df['Quarter'] = mkt_cap_df.index.quarter
    
    mkt_cap_df['Reweight'] = mkt_cap_df['Quarter'] - mkt_cap_df['Quarter'].shift(periods=1)
    
    quarterly = mkt_cap_df[mkt_cap_df['Reweight'].isin([1,-3])]
    
    for i in range(quarterly.shape[0]):
        order = quarterly.iloc[i,:].sort_values(ascending=False)
        order_all = order.index.to_list()
        order_n = order.index[0:n].to_list()
        for j in order_n:
            if j not in baseline_n:
                print("Need to Reweight!", i, j)
                print("Baseline n", baseline_n)
                print("New n", order_n)
        baseline_n = order_n
    
    return quarterly
    #mkt_cap_df['Total_Index'] = mkt_cap_df[baseline_all].sum(axis=1)/10000000
    #mkt_cap_df['Total_Index_8'] = mkt_cap_df[baseline_8].sum(axis=1)/10000000

In [ ]:
quarterly = determine_reweighting(us, n = 12)

### Visualization

#### Seaborn color maps:
‘Accent’, ‘Accent_r’, ‘Blues’, ‘Blues_r’, ‘BrBG’, ‘BrBG_r’, ‘BuGn’, ‘BuGn_r’, ‘BuPu’, ‘BuPu_r’, ‘CMRmap’, ‘CMRmap_r’, ‘Dark2’, ‘Dark2_r’, ‘GnBu’, ‘GnBu_r’, ‘Greens’, ‘Greens_r’, ‘Greys’, ‘Greys_r’, ‘OrRd’, ‘OrRd_r’, ‘Oranges’, ‘Oranges_r’, ‘PRGn’, ‘PRGn_r’, ‘Paired’, ‘Paired_r’, ‘Pastel1’, ‘Pastel1_r’, ‘Pastel2’, ‘Pastel2_r’, ‘PiYG’, ‘PiYG_r’, ‘PuBu’, ‘PuBuGn’, ‘PuBuGn_r’, ‘PuBu_r’, ‘PuOr’, ‘PuOr_r’, ‘PuRd’, ‘PuRd_r’, ‘Purples’, ‘Purples_r’, ‘RdBu’, ‘RdBu_r’, ‘RdGy’, ‘RdGy_r’, ‘RdPu’, ‘RdPu_r’, ‘RdYlBu’, ‘RdYlBu_r’, ‘RdYlGn’, ‘RdYlGn_r’, ‘Reds’, ‘Reds_r’, ‘Set1’, ‘Set1_r’, ‘Set2’, ‘Set2_r’, ‘Set3’, ‘Set3_r’, ‘Spectral’, ‘Spectral_r’, ‘Wistia’, ‘Wistia_r’, ‘YlGn’, ‘YlGnBu’, ‘YlGnBu_r’, ‘YlGn_r’, ‘YlOrBr’, ‘YlOrBr_r’, ‘YlOrRd’, ‘YlOrRd_r’, ‘afmhot’, ‘afmhot_r’, ‘autumn’, ‘autumn_r’, ‘binary’, ‘binary_r’, ‘bone’, ‘bone_r’, ‘brg’, ‘brg_r’, ‘bwr’, ‘bwr_r’, ‘cividis’, ‘cividis_r’, ‘cool’, ‘cool_r’, ‘coolwarm’, ‘coolwarm_r’, ‘copper’, ‘copper_r’, ‘crest’, ‘crest_r’, ‘cubehelix’, ‘cubehelix_r’, ‘flag’, ‘flag_r’, ‘flare’, ‘flare_r’, ‘gist_earth’, ‘gist_earth_r’, ‘gist_gray’, ‘gist_gray_r’, ‘gist_heat’, ‘gist_heat_r’, ‘gist_ncar’, ‘gist_ncar_r’, ‘gist_rainbow’, ‘gist_rainbow_r’, ‘gist_stern’, ‘gist_stern_r’, ‘gist_yarg’, ‘gist_yarg_r’, ‘gnuplot’, ‘gnuplot2’, ‘gnuplot2_r’, ‘gnuplot_r’, ‘gray’, ‘gray_r’, ‘hot’, ‘hot_r’, ‘hsv’, ‘hsv_r’, ‘icefire’, ‘icefire_r’, ‘inferno’, ‘inferno_r’, ‘jet’, ‘jet_r’, ‘magma’, ‘magma_r’, ‘mako’, ‘mako_r’, ‘nipy_spectral’, ‘nipy_spectral_r’, ‘ocean’, ‘ocean_r’, ‘pink’, ‘pink_r’, ‘plasma’, ‘plasma_r’, ‘prism’, ‘prism_r’, ‘rainbow’, ‘rainbow_r’, ‘rocket’, ‘rocket_r’, ‘seismic’, ‘seismic_r’, ‘spring’, ‘spring_r’, ‘summer’, ‘summer_r’, ‘tab10’, ‘tab10_r’, ‘tab20’, ‘tab20_r’, ‘tab20b’, ‘tab20b_r’, ‘tab20c’, ‘tab20c_r’, ‘terrain’, ‘terrain_r’, ‘turbo’, ‘turbo_r’, ‘twilight’, ‘twilight_r’, ‘twilight_shifted’, ‘twilight_shifted_r’, ‘viridis’, ‘viridis_r’, ‘vlag’, ‘vlag_r’, ‘winter’, ‘winter_r’